form {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #5900fff8;
  color: white;
}

button {
  background-color: #5900fff8;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  margin-top: 10px;
  float: right;
  padding: 10px 16px;
}

label {
  padding-top: 18px;
  display: flex;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  label {
    display: flex;
    padding-top: 67px;
  }
}

input {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}

textarea {
  width: 100%;
  margin-top: 10px;
  resize: none;
  font-weight: 500;
  font-size: 16px;
}

div.img {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 40px;
}

h2 {
  margin-top: 10px;
}

p {
  line-height: 1.5;
  font-size: large;
}

.nav {
  display: flex;
}

li.nav-list {
  padding-right: 74px;
  margin-left: -46px;
  font-size: 24px;
}

.hidden {
  display: none;
}

#new-button {
  padding-top: 10px;
  margin-top: -2px;
}

.no-entries {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fa {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  margin-right: 30px;
  margin-bottom: -29px;
  color: rebeccapurple;
}

.fa:hover,
.fa:focus {
  cursor: pointer;
}

/* .fa:active {
  transform: scale(0.96);
} */

.delete {
  color: red;
  text-decoration: underline;
}

.delete-modal {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  width: 24em;
  height: 9em;
}

.delete-modal-bg {
  visibility: hidden;
  opacity: 0;
}

.delete-modal-bg-on {
  display: flex;
  background-color: rgba(0, 0, 0, 0.753);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.modal-buttons {
  display: flex;
}

#cancel-button {
  color: black;
  background-color: gray;
  margin-right: 114px;
}

#confirm-button {
  color: white;
  background-color: red;
}
