form {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background-color: #5900fff8;
  color: white;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
}

main {
  display: flex;
  align-content: flex-start;
}

button {
  background-color: #5900fff8;
  color: white;
  border-radius: 5px;
}
